{% extends "base.html" %}

{% block titulo %}
  Graficos de descuentos
{% endblock titulo %}

{% block contenido %}
  <div id="chart_div" style="width: 100%; height: 500px;"></div>
{% endblock contenido %}

{% block script %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() 
      {
        var data = google.visualization.arrayToDataTable([
          ['Mes', 'Tardanzas','Faltas'],

          {% for key, value in cantXMes.iteritems %}
          ['{{value}}', {{value['iteritems']},{{key}}],           

          {% endfor %}
          
        ]);

        var options = {
          title: 'Numero de Incidencias',
          hAxis: {title: 'Meses', titleTextStyle: {color: 'blue'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock script %}