{% extends "base.html" %}

{% block titulo %}
	Registrar nuevo usuario
{% endblock titulo %}

{% block contenido %}
<div class="row">
	<ul class="breadcrumb">
	  <li><a href="/">Sisgedo</a> <span class="divider">/</span></li>
	  <li><a href="/usuarios/">Usuarios</a> <span class="divider">/</span></li>
	  <li class="active">Registrar nuevo usuario</li>
	</ul>
	
<div class="span8">
	<legend class="header">Registrar nuevo usuario</legend>
	<form action="" id="formulario" class="form-horizontal" method="POST">
    	{% csrf_token %}
	    <div class="control-group">
		    <label class="control-label" for="id_username">Username(DNI)</label>
		    <div class="controls">
			    <input id="id_username" type="text" name="username" maxlength="30" class="input-xlarge" placeholder="DNI" title="El nombre de usuario es necesario" required>
			    <span class="help-inline"></span>
			    {{ formulario.username.errors }}
		    </div>
	    </div>

	    <div class="control-group">
		    <label class="control-label" for="id_first_name">Nombres Completos</label>
		    <div class="controls">
			    <input id="id_first_name" type="text" name="first_name" maxlength="200" class="input-xlarge" placeholder="Nombres" title="Se necesita los nombres" required>
			    <span class="help-inline"></span>
			    {{ formulario.first_name.errors }}
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="id_last_name">Apellidos Completos</label>
		    <div class="controls">
			    <input id="id_last_name" type="text" name="last_name" maxlength="200" class="input-xlarge" placeholder="Apellidos" title="Se necesita los apellidos" required>
			    <span class="help-inline"></span>
			    {{ formulario.last_name.errors }}
		    </div>
	    </div>

	    <div class="control-group">
		    <label class="control-label" for="id_email">Email</label>
		    <div class="controls">
			    <input type="email" class="input-xlarge" name="email" id="id_email" placeholder="Email" title="Se necesita el email" required>
			    <span class="help-inline"></span>
			    {{ formulario.email.errors }}
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="id_is_active">Activo</label>
		    <div class="controls">
		    	<input checked="checked" type="checkbox" name="is_active" id="id_is_active" class="input-xlarge"/>
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="id_direccion">Direccion</label>
		    <div class="controls">
		    	<input id="id_direccion" type="text" name="direccion" maxlength="500" class="input-xlarge" placeholder="Dirección" title="Se necesita la direccion" />
		    	<span class="help-inline"></span>
		    	{{ formulario.direccion.errors }}
		    </div>
	    </div>

	    <div class="control-group">
		    <label class="control-label" for="id_telefono">Telefono</label>
		    <div class="controls">
		    	<input type="number" name="telefono" id="id_telefono" maxlength="500" class="input-xlarge" placeholder="Telefono" title="Numero necesario" />
		    	<span class="help-inline"></span>
		    	{{ formulario.telefono.errors }}
		    </div>
	    </div>

	    <div class="control-group">
		    <label class="control-label" for="id_sueldo">Sueldo</label>
		    <div class="controls">
		    	<input type="number" name="sueldo" id="id_sueldo" step="0.01" min="0" maxlength="500" class="input-xlarge" placeholder="Sueldo" title="Numero necesario" />
		    	<span class="help-inline"></span>
		    	{{ formulario.sueldo.errors }}
		    </div>
	    </div>

	    <div class="control-group">
		    <label class="control-label" for="id_puesto">Puesto</label>
		    <div class="controls">
		    	<input type="text" name="puesto" id="id_puesto" maxlength="500" class="input-xlarge" placeholder="Puesto" title="Numero necesario" />
		    	<span class="help-inline"></span>
		    	{{ formulario.puesto.errors }}
		    </div>
	    </div>
	    <div class="control-group">
		    <label class="control-label" for="id_turno">Turno</label>
		    <div class="controls">
		    	<input type="text" name="turno" id="id_turno" maxlength="500" class="input-xlarge" placeholder="Turno" title="Se necesita el turno" />
		    	<span class="help-inline"></span>
		    	{{ formulario.turno.errors }}
		    </div>
	    </div>

	    <div class="form-actions">
		    <button type="submit" class="btn btn-primary btn-medium" id="boton-registrar">Registrar</button>
		    <button type="reset" class="btn btn-primary btn-medium">Cancelar</button>
	    </div>
    </form>
</div>
<div class="span4">
	<h3>Informacion</h3>
	<p>
		En este apartado puedes registrar un nuevo usuario.
	</p>
</div>
</div>
{% endblock contenido %}

{% block script %}
<script type="text/javascript">
	$(document).on("ready", inicio);
	var recibir = function(data)
	{
		if (data === 'False')
		{
			if ($("#id_username").val())
			{
				$("#id_username ~ .help-inline").html("Correcto");
				$("#id_username").parent().parent().removeClass('error');

			}
			else
			{
				$("#id_username ~ .help-inline").html("");
			}
		}
		else
		{
			$("#id_username ~ .help-inline").html("El nombre de usuario ya esta utilizado");
			$("#id_username").parent().parent().addClass('error');
		}
	}
	var eror = function(data, XMLHttpRequest, textStatus, errorThrown)
	{
		$("#id_username ~ .help-inline").html("Errorrrrrrrr");
	}
	function inicio()
	{
		$("#id_username").on("keyup", evento);
		$("#id_password2").on("keyup", validar);
	}
	function evento ()
	{
		var username = $("#id_username").val();
		$.ajax({
			url: "/ajax-username/",
			data: { username : username },
			type: "GET",
			success: recibir,
			error: eror
		});
	}
	function validar()
	{
		var password1 = $("#id_password1").val();
		var password2 = $("#id_password2").val();

		if (password1 === password2)
		{
			$("#id_password2 ~ .help-inline").html("");
			$("#id_password2").parent().parent().removeClass('error');
		}
		else
		{
			$("#id_password2 ~ .help-inline").html("Las contraseñas no coinciden.");
			$("#id_password2").parent().parent().addClass('error');
		}
	}
</script>
{% endblock script %}