{% extends "base.html" %}

{% block titulo %}
  Graficos de descuentos
{% endblock titulo %}

{% block contenido %}
  
  <h2>2013-02</h2>
    <h3>Tardanzas: </h3>
      <div class="box-content">
          <table class="table table-striped table-bordered" id="example">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Hora de Ingreso</th>
                <th>Minutos</th>
                <th>Descuento</th>
              </tr>
            </thead>   
            <tbody>
              {% for tardanza, value in CET , DME %}
              <tr>
                <td>{{tardanza.fecha_ingreso}}</td> 
                <td>{{tardanza.hora_ingreso}}</td>
                <td>{{value}}</td>

              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div> 




{% endblock contenido %}

